body{
  background-color: #14003B;
}


.container-welcome {
  min-height: 200vh;
  margin-top: -60px;
}
.container-left{
  /* border: 2px solid green; */
  min-height: 100vh;
  min-width: 50%;

}
.container-right{
  /* border: 2px solid green; */
  float: right;
  min-height: 100vh;
  min-width: 50%;
  background-image: url("/public/images/group22.svg");
  background-repeat: no-repeat;
  margin-top: -560px;

}
.dhaba{
  
/* /* position: absolute; 
top: -54px;
left: -82px;
background-image: linear-gradient(#592295, #592295);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
border-radius: 50%; 
border: 10px solid #592295;  
outline: none;
box-shadow: 15px 5px 20px 20px #592295; */
position: absolute; 
top: -54px;
left: -82px;
height: 274px;
width: 274px;
  background-image: linear-gradient(#592295, #592295);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: -3px -2px 20px 20px #592295;

}

.digital-hub-images{
  Width:623px;
  Height:391px;
  border: 2px solid green;
  display: contents;
}

.circle-digital-hub{  
  height: 170px;
  position: absolute;
  width: 170px;
  top: -168px;
  left: -26px;
  background-image: linear-gradient(#33016a, #33016a);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: -3px -11px 84px 380px #33016a;
  
}